<div class="main-div">
	<div id="main-page">
		<div id="main-banner">

			<h1 class="white">Welcome to Student Ambassador Finder!</h1>
		</div>
		<!-- The Carusel-->

		<div id="carousel">
			
		

		</div>
		
		<!--Caption for the carousel-->
		<div class="carousel-cap">
			<h3>
				Facebook, Amazon, Microsoft, and Google offers billions to new ambassador website.

			</h3>
		</div>


		<div>
			<button type="button" class="btn btn-primary btn-block ambassador-btn"> Click Here to become a Student Ambassador!</button>
		</div>

		<div class="row gray">
			<h2>The Team</h2>
		    <div class="col-sm-4">
			<img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
			<h2>Jake Bernstein</h2>
			<p>Junior</p>
		    </div>
		    <div class="col-sm-4">
			<img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
			<h2>Kevin Wang</h2>
			<p>Senior</p>
		    </div>
		    <div class="col-sm-4">
			<img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
			<h2>Steven Walter</h2>
			<p>Another Student</p>
		    </div>
		</div>
	</div>



</div>