<div class="container-fluid">
  <h1>Jobs</h1><br><br>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <h5>Search:</h5> <input type="text" class="form-control" ng-model="query">
      <h5>Sort by:</h5>
      <select ng-model="order" class="form-control">
        <option value="company">Company</option>
        <option value="application_date">Date Application Due</option>
      </select>

    </div>

    <div class="col-md-10">
      <ul class="jobs">
        <a href="#/job/{{job.company}}" ng-repeat="job in jobs  | filter:query | orderBy: order"
        class="thumbnail job-listing nounderline listing">
        
          <h4 class="jobleft">{{job.title}} <span class="smaller">at {{job.company}}</span> </h4>
          <h5 class="duedate">Due on {{job.application_date}}</h5>

        <div class="description">
          <h8 ng-if="job.description.length>150">{{job.description | limitTo: charLimit}} ...</h8>
          <h8 ng-if="job.description.length<=150">{{job.description}}</h8>
        </div>
      </a>
    </ul>
  </div>

  </div>
</div>
