    <div class="container">
      <h1>Log In</h1><br>     
     
      <div class="form" id="login">
        <form class="form-horizontal">
        
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
                
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        
        
        <div class="form-group"><button type="submit" class="btn btn-primary">Submit</button></div>

        </form>
      </div>

    </div>
