<div class="container-fluid">
  <h1>Jobs</h1><br><br>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Date Application Due</option>
      </select>

    </div>

<div class="col-md-10">
      <ul class="jobs">
        <a href="#/job/{{job.company_name}}" ng-repeat="job in jobs  | filter:query | orderBy:orderProp"
            class="thumbnail job-listing nounderline listing">
            
          <h4>{{job.title}} <span class="smaller">at {{job.company}}</span> </h4>
          <h8>{{job.description}}</h8>
        
        </a>
      </ul>
</div>

    <!-- <div class="col-md-10">
   

      <ul class="jobs">
        <li ng-repeat="job in jobs | filter:query | orderBy:orderProp"
            class="thumbnail job-listing">
          <a href="#/jobs/{{job.id}}" class="thumb"><img ng-src="{{job.imageUrl}}"></a>
          <a href="#/jobs/{{job.id}}">{{job.name}}</a>
          <p>{{job.snippet}}</p>
        </li>
      </ul>

    </div> -->
  </div>
</div>
