<div class="container">

    <h1>Profile</h1>

  <div id="personal" ng-show="content=='student'">
    <h3>Basics</h3>
    <table class="table table-striped">
      <tr>
        <td>Name</td>
        <td>John Smith</td>
      </tr>
      <tr>
        <td>School</td>
        <td>UNC Chapel Hill</td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td>johnsmith@live.unc.edu</td>
      </tr>
    </table>
    <br><br>
    <h3>Favorites</h3>
    <table class="table table-bordered">
      <tr class="active" style="font-weight:bold"><td>Company Name</td><td>Site</td><td>Representative</td><td>Date Added</td></tr>
      <tr><td>A Nice Company</td><td>www.example.com</td><td>Jane Doe</td><td>10/31/2014</td></tr>
      <tr><td>{{company.company}}</td><td>www.google.com</td><td>Larry Page</td><td>11/3/2014</td></tr>
      <tr><td>Andromeda Research</td><td>www.arc.com</td><td>Benjamin Pearce</td><td>11/5/2014</td></tr>
    </table>
  </div>
  

  
  <div id="company" ng-show="company.company">

    <h3>Basics</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <td>Name</td>
        <td>{{company.company}}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{company.location}}</td>
      </tr>
    </table>
    <br><br>
    <h3>Ambassador Opportunities</h3>
    <p>{{company.ambassador.description}}</p>
    <table class="table table-bordered">
      <tr class="active" style="font-weight:bold"><td>School</td><td>Location</td> <td>Application Date</td></tr>
      <tr ng-repeat="job in company.jobs"><td>{{job.school}}</td><td>{{job.location}}</td> <td>{{job.date}}</td></tr>
    </table>
  </div>
  
  
</div>