<div class="container">


  
    <h1>Profile</h1>

  <div id="company" ng-show="company.company">

    <h3>Basics</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <td>Name</td>
        <td>{{company.company}}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{company.city}}, {{company.state}} in the {{company.country}}</td>
      </tr>
    </table>
    <br><br>
    <h3>Ambassador Opportunities</h3>
    <p>Learn more at this website: {{company.website}}</p>
<!--     <table class="table table-bordered">
      <tr class="active" style="font-weight:bold"><td>School</td><td>Location</td> <td>Application Date</td></tr>
      <tr ng-repeat="job in company.jobs"><td>{{job.school}}</td><td>{{job.location}}</td> <td>{{job.date}}</td></tr>
    </table> -->
  </div>
  
  
</div>