 <div class="container-fluid">
  <h1>Students</h1><br><br>
  <div class="row">
   <div class="col-md-3">
    <!--Sidebar content-->

    <h5>Search (Name):</h5> <input type="text" class="form-control" ng-model="query">

     <h5>Search (Major):</h5> <input type="text" class="form-control" ng-model="majorsearch">
    <h5>Only students in the following majors</h5>
      
      <select ng-model="majorchoose" class="form-control" ng-options="major for major in majors" /></select>
      <h5>Students attending University in:</h5>

      <select ng-model="statechoose" class="form-control" ng-options="state.name for state in states">
      </select>

    </div>

    <div class="col-md-9">
      <ul class="jobs">
        <a href="#/job/{{job.company}}" ng-repeat="student in students  | filter: { major:majorsearch} "
        class="thumbnail job-listing nounderline listing">
        
        <h4 class="jobleft">{{student.name}} <span class="smaller">at {{student.school}}</span> </h4>
        <div class="description">
          <h8><b>Major: </b>{{student.major}}</h8><br>
          <h8><b>Class: </b>{{student.year}}</h8>
        </div>
      
      </a>
    </ul>
  </div>

</div>

</div>


 <!--  <select ng-model="major" class="form-control">
          <option value="company">Technical/Engineering</option>
          <option value="application_date">Business</option>
        </select>
      -->