    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
              <h2><span class="about-title-word">Testimonials</span> </h2>
              <div class="about-indented">
                <p>Hear from some of our students and ambassadors about the program!</p>
              </div>
              
              <hr>
              
              <h2><span class="about-title-word">"I love Student Ambassadors!"</span></h2>
              <div class="about-indented">
                <p>I was able to get into contact with my favorite company and represent them at my school! Student Ambassadors made my ambassador options easy to find and navigable. I was able to contact my favorite company about representing them at my school, and now we're planning a great event for people to come out and learn about opportunities. Searching through the companies on the site was a breeze. - John Smith, UNC Chapel Hill class of 2021</p>
              </div>
              
              <hr>

              <h2><span class="about-title-word">"Great website"</span></h2>
              <div class="about-indented">
                <p>I get to look for companies that are looking for me. I know what each company is looking for, and if we fit each other it's easy to contact them. The website is clean and easy to use, and I'd definitely recommend it to anyone looking for networking opportunities. - Robert Brown, Duke University class of 2024</p>
              </div>

              
        <!-- /.row -->
            </div>
        </div>
        <hr>
    </div>


